<!DOCTYPE html>
<html>
<head>
  <title>RubyCalculation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <style>
      .foundationStacks { margin-left: 30px; }
      .foundationStacks img { position: absolute;  margin-top: 30px;}
      .deckStacks { margin-left:-160px; padding:0; }
      .deck { margin-left: 160px; padding:0; }
      .myButton {
          font: bold 11px Arial;
          text-decoration: none;
          background-color: #EEE;
          color: #333333;
          padding: 2px 6px 2px 6px;
          border: 1px solid #999;
          /*border-right: 1px solid #333333;*/
          /*border-bottom: 1px solid #333333;*/
          /*border-left: 1px solid #CCCCCC;*/
          border-radius: 5px;
      }
  </style>
</head>
<!--THe background image came from http://www.brownandseelye.com/ -->
<body style="background-image: url(http://www.brownandseelye.com/wp-content/themes/politicize/framework/images/pattern/pattern-10.png); color:white;">

<%= yield %>

</body>
</html>
